extends layout

block content
	.page-header
		h3 All Brands
		li(class=(title == 'Login') ? 'active' : undefined)
						a(href='/auth/googleanalytics') Tether GA account

	div
	table
		thead
			th Account Name
			th View Name
			th View ID
			th oAuth Token
			th oAuth User Email
		tr
		tbody
			for brand in brands
				tr
					td
						a(href='/brands/' + brand.AccountID) #{brand.AccountName} 
					td= brand.ViewName		
					td= brand.ViewID		
					td= brand.oAuthToken		
					td= brand.oAuthUserEmail		
				tr
			else
				tr
					td= "No Brand Accounts created yet!!!"
				tr
