extends layout

block content
	.page-header
		h3 All Brands 		
		td
		a(href='/auth/googleanalytics')
			button(type="button") Tether Google Analytics Account


	div
	table
		thead
			th Name    
			th Website     
			th Industry Vertical    
			th Tethered By  
			th GA Profile   
			th Tags  
			th Records
			th Refresh
			th Dashboard  			
		tr
		tbody
			for brand in brands
				tr
					td
						a(href='/brands/' + brand.account_id) #{brand.account_name} 
					td= brand.account_website_url				
					td= brand.account_industry_vertical			
					td= brand.account_tetherer_email
					td= brand.account_default_profile_id
					td= brand.account_tags
					td= brand.account_record_total
					td= brand.account_record_lastrefresh
					td
						a(href='http://52.37.72.190:5601/app/kibana#/dashboard/Sweat-Tailor-Ecommerce-Dashboard') View

				tr
			else
				tr
					td= "No Brand Accounts created yet!!!"
				tr
