extends layout


block content
  .page-header
    h3 #{brand.account_name}

  form.form-horizontal(action='/brands/' + brand.account_id + '/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Brand Account ID:
      .col-sm-7
        label.col-sm-3.control-label(for='name') #{brand.account_id}
    .form-group
      label.col-sm-3.control-label(for='website') Brand Name:
      .col-sm-7
        input.form-control(type='text', name='account_name', id='account_name', value=brand.account_name)
    .form-group
      label.col-sm-3.control-label(for='name') Website URL:
      .col-sm-7
        label.col-sm-3.control-label(for='name') #{brand.account_website_url}
    .form-group
      label.col-sm-3.control-label(for='name') Industry Vertical:
      .col-sm-7
        label.col-sm-3.control-label(for='name') #{brand.account_industry_vertical}
    .form-group
      label.col-sm-3.control-label(for='name') Last Run Ingested Records:
      .col-sm-7
        input.form-control(type='text', name='account_record_lastrefresh', id='account_record_lastrefresh', value=brand.account_record_lastrefresh)
    .form-group
      label.col-sm-3.control-label(for='name') Total Ingested Records:
      .col-sm-7
        input.form-control(type='text', name='account_record_total', id='account_record_total', value=brand.account_record_total)        
    .form-group
      label.col-sm-3.control-label(for='name') Tethered User Email:
      .col-sm-7
        input.form-control(type='text', name='account_tetherer_email', id='account_tetherer_email', value=brand.account_tetherer_email)
    .form-group
      label.col-sm-3.control-label(for='name') Dashboard Types: Options are eCommerce, Mobile Commerce, Content Marketing, Site Performance,Real-time Overview, S E O Overview
      .col-sm-7
        input.form-control(type='text', name='account_dashboard_types', id='account_dashboard_types', value=brand.account_dashboard_types.toString())
    .form-group
      label.col-sm-3.control-label(for='name') Brand Tags:
      .col-sm-7
        input.form-control(type='textarea', name='account_tags', id='account_tags', value=brand.account_tags.toString())
    .form-group
      label.col-sm-3.control-label(for='name') Brand Dashboard URL:
      .col-sm-7
        input.form-control(type='text', name='account_dashboard_url', id='account_dashboard_url', value=brand.account_dashboard_url.toString())
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Brand