extends layout

block content
	.page-header
		h2  Tethered Brand Listing
		a(href='/auth/googleanalytics')
			button(type="button") Tether Google Analytics Account


	div
	table
		thead
			th Name    
			th Website     
			th Dashboard
			th GA Profile 
			th Tags  			
			th Types  			
		tr
		tbody
			for brand in brands
				tr
					td
						a(href='/brands/' + brand.account_id) #{brand.account_name} 
					td.col-md-5(style="word-wrap: break-word; width:50px;")= brand.account_website_url
					if (brand.account_dashboard_types.length > 0 )
							td 
								a(href='analytics/' + brand.account_id) View Analytics									
					else
							td 
								a(href='/brands/' + brand.account_id) Not Set 
					
					td.col-md-5(style="word-wrap: break-word; width:50px;")= brand.account_default_profile_id
					td.col-md-5(style="word-wrap: break-word; width:50px;")= brand.account_tags			
					td= brand.account_dashboard_types
				tr
			else
				tr
					td= "Brands are not tethered yet! Get started by clicking on the button above!!"
				tr
